# dependencies
/node_modules

# production
/dist

# build artifacts
.vite

# local env files
.env
.env.*.local

# system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS metadata
*.swp

# Licensed font
/public/fonts/Kopik-Regular.woff2

# lockfiles (optional, if using a different package manager)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Local Netlify folder
.netlify
