@tailwind base; 
@tailwind components;
@tailwind utilities;

html, body {
    @apply overflow-x-hidden overscroll-none;
}

@font-face {
    font-family: 'Lemon Milk';
    src: url('/fonts/LEMONMILK-Bold.woff2');
    font-weight: 800;
}